 <!-- Controlls for sending requests into NLP model -->
<footer class="p-2">
    {% include 'file_pill.html' %}
    <form @submit.prevent="sendMessage" class="flex items-center space-x-4">
        <textarea
            rows="3"
            name="message"
            id="user-input"
            placeholder="Type your message here..."
            autocomplete="off"
            class="flex-1 p-3 bg-gray-700 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition"
            x-model="messageInput"
            @keydown.enter.prevent="sendMessage"
        ></textarea>

        <input type="file" id="file-upload" class="hidden" @change.prevent="handleFileUpload">
        <label for="file-upload" class="cursor-pointer bg-gray-600 hover:bg-gray-700 text-white font-bold p-3 rounded-lg transition-colors duration-300 flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13" />
            </svg>
        </label>

        <button
            type="submit"
            class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-5 rounded-lg transition-colors duration-300 flex items-center"
        >
            <span>Send</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z" />
            </svg>
        </button>
    </form>

    {% include 'modes.html' %}
</footer>